@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: "Lato";
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .hed {
  padding: 50px 0;
  background: #445162;
}

.wrapper .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper .container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper .header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .header__body {
  color: #ffffff;
  padding: 0 30px 0 0;
}

.wrapper .header__title {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 60px;
  font-weight: 400;
  margin: 0 0 40px 0;
  white-space: nowrap;
}

.wrapper .header__list {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.wrapper .header__list li {
  background: url(../img/icon.png) left no-repeat;
  padding: 0 0 0 36px;
}

.wrapper .header__list li:last-child {
  margin: 0;
}

.wrapper .header__images img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper .about-flex {
  padding: 50px 0;
}

.wrapper .about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 430px;
          flex: 0 0 430px;
}

.wrapper .about__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 40px;
}

.wrapper .about__title {
  margin: 0 0 35px 0;
  white-space: nowrap;
}

.wrapper .about__text p {
  margin: 0 0 25px 0;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.wrapper .title {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.wrapper .colum {
  background: #f5f5f5;
  padding: 50px 0;
}

.wrapper .colum__title {
  text-align: center;
  margin: 0 30px 0 0;
  padding: 0 0 30px 0;
}

.wrapper .colum__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
}

.wrapper .colum__colums {
  padding: 0 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 30px 0;
}

.wrapper .item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

.wrapper .item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 15px;
}

.wrapper .item__title {
  color: #445161;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 15px 0;
}

.wrapper .item__text {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.wrapper .cards {
  padding: 50px 0;
}

.wrapper .cards__title {
  text-align: center;
  margin: 0 0 30px 0;
}

.wrapper .cards__body {
  max-width: 990px;
  margin: 0 auto;
}

.wrapper .cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -22.5px;
}

.wrapper .cards__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 22.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .cards__item {
  background: #445162;
  color: white;
  border-radius: 5px;
  border: 1px solid #445162;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .cards__subtitle {
  padding: 18px 0 12px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.wrapper .cards__label {
  text-align: center;
  padding: 15px 0;
  background: white;
  color: #445162;
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
}

.wrapper .cards__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper .cards__text p {
  margin: 0 0 30px 0;
}

.wrapper .cards__text p:last-child {
  margin: 0;
}

.wrapper .cards__bth {
  display: block;
  text-align: center;
  margin: 20px;
  height: 40px;
  background: white;
  border-radius: 5px;
  color: #445161;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
}

.wrapper .footer {
  background: #f5f5f5;
}

.wrapper .footer__row {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.wrapper .footer__text {
  color: #445162;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (max-width: 990px) {
  .container {
    max-width: 780px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .header__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__body {
    margin-bottom: 30px;
  }
  .header__title p {
    font-size: 50px;
  }
  .about__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .about__image img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 0 0 40px;
    margin-top: -200px;
  }
  .colum__title {
    text-align: left;
  }
  .colum__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -8px;
  }
  .cards__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .cards__column {
    padding: 0;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cards__column:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 550px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .item__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 -22.5px;
  }
  .cards__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    margin-bottom: 50px;
    padding: 0 22.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cards__column:last-child {
    margin-bottom: 0;
  }
}
